/*High-level formatting*/
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
}

div {
    box-sizing: border-box;
}

.big-box {
    margin-left: 15%;
    margin-right: 15%;
}

/*Extended padding for boxes two and three*/
.big-box.two,
.big-box.three {
    padding-left: 8%;
    padding-right: 8%;
}

/*Navy boxes*/
.one,
.five {
    background-color: #1F2937;
    color: #E5E7EB;
}

/*White boxes*/
.two,
.four {
    background-color: white;
    box-shadow: 0 0 0 100vmax white;
    clip-path: inset(0 -100vmax);
}

/*Quotation box*/
.big-box.three {
    background-color: #E5E7EB;
    color: #1F2937;
    border: .1px solid #E5E7EB;
    box-shadow: 0 0 0 100vmax #E5E7EB;
    clip-path: inset(0 -100vmax);
    padding-top: 3%;
    padding-bottom: 3%;
}

.three q {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

/*Royal blue elements*/
button,
.four .medium-box {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
}

/*Random information header*/
.two h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

/*"This website is awesome*/
.one .small-box h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

/*Website is awesome subtext*/
.one .small-box {
    font-size: 18px;
    font-weight: 300;
}

/*Header logo*/
.one h3 {
    font-size: 24px;
    color: #F9FAF8;
}

/*Centered text*/
.five,
.two h2,
.three q {
    display: flex;
    justify-content: center;
}

/*Top line - header logo and links*/
.one .medium-box {
    display: flex;
    justify-content: space-between;
}

.one .small-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

/*Website is awesome box*/
.one .small-box.vertical {
    flex-direction: column;
    align-items: flex-start;
}

/*Random info icons*/
.two h2 {
    padding-top: 4%;
}

.two .medium-box {
    display: flex;
    justify-content: space-between;
}

/*Quote credit alignment*/
.three p {
    text-align: right;
    width: 100%;
}

/*Call to action box*/
.four .small-box {
    width: 81.7%;
}

.big-box.four {
    background-color: white;
    border: .1px solid white;
    
}

.four .medium-box {
    display: flex;
    margin-top: 4%;
    margin-bottom: 4%;
    padding-left: 11.5%;
    padding-right: 11.5%;
    justify-content: space-between;
}

/*Buttons*/
button {
    border-style: solid;
    border-color: #3882F6;
    padding: 5px;
    height: min-content;
}

.four button {
    border-color: white;
    align-self:center;
}

/*Copyright message box*/
.big-box.five {
    height: min-content;
}
