
body {
    font-family: 'Roboto', sans-serif;
}

div {
    box-sizing: border-box;
}

.big-box {
    margin-left: 8vw;
    margin-right: 8vw;
}

/*To delete later: box outlines*/
.big-box {
    border: 10px solid black;
}

.medium-box {
    border: 10px solid blue;
}

.small-box {
    border: 10px solid green;
}

/*Navy boxes*/
.one,
.five {
    background-color: #1F2937;
    color: #E5E7EB;
}

/*Quotation box*/
.three {
    background-color: #E5E7EB;
    color: #1F2937;
}

.three q {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

/*Royal blue elements*/
button,
.four .medium-box {
    background-color: #3882F6;
    color: #E5E7EB;
}

/*Random information header*/
.two h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

/*"This website is awesome*/
.one .small-box h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

/*Website is awesome subtext*/
.one .small-box {
    font-size: 18px;
    font-weight: 300;
}

/*Header logo*/
.one h3 {
    font-size: 24px;
    color: #F9FAF8;
    padding-top: 0px;
}

/*Centered text*/
.five,
.two h2 {
    display: flex;
    justify-content: center;
}

/*Top line - header logo and links*/
.one .medium-box {
    display: flex;
    justify-content: space-between;
}

.one .small-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.one .small-box a {
    padding-top: 0px;
}

/*Website is awesome box*/
.one .small-box.vertical {
    flex-direction: column;
    align-items: flex-start;
}

/*Random info icons*/
.two .medium-box {
    display: flex;
    justify-content: center;
    gap: 3vw;
}